* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkcyan;
    padding: 0 70px 0 70px;
}

.logo {
    height: 56px;
    width: 150px;
}

.filter-section {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: cadetblue;
    padding: 0 70px 0 70px;
}

.product-container {
    border: 3px solid black;
    margin: 16px;
    padding: 16px;
}

.bold {
    font-weight: 700;
}

.rating {
    padding-left: 40px;
}

.img {
    height: 400px;
    width: 300px;
}