* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 90px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}



.bold {
    font-weight: 700;
}

.rating {
    padding-left: 40px;
}

.img {
    height: 400px;
    width: 300px;
}